{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add new project</h1>
    <div class="row">
        <div class="span12">
            <form method="post" action="{{ path('project_new') }}" class="well form-horizontal">
                
                {{ form_widget(form) }}

                    
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a href="{{ path('homepage') }}" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}