{% extends 'layout.html.twig' %}

{% block content %}
    <a data-toggle="ajax-modal" class="btn" data-modal-title="Add User" href="{{ path('user_new') }}">Add User</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th width="70px">Is Manager</th>
            </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td style="text-align: center;"><i class="{% if user.isManager %}icon-thumbs-up{% endif %}"></i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}